<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--securifyHTML is a function that
        convert text in no HTML-->
    <title>##securifyHTML(header)##</title>
</head>

<body onload="alert('Hallo')">
    <h1>
        <!--
            use the hashtag variable-name hashtag
            to add a variable             
        -->
        ##securifyHTML(header)##
    </h1>
    <p>
        ##securifyHTML(textBody)##
    </p>
    ##HTML##
</body>

</html>